@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.tableUser{
    padding: 1.2rem 2rem;
}

.buttonsGroup {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonsGroup span {
    cursor: pointer;
    border-radius: 4px;
    padding: 0.4rem 1rem ;
    margin: 0 2px;
    box-shadow: 1px 1px 1px rgba(197, 197, 197, 0.8);
}

.buttonsGroup .pageNumber{
    background-color: #D83367;
}

.buttonsGroup .pageNumber h3 {
    color: #FFF;
}

.buttonsGroup span h3 {
    color: #666666;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}