@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

table {
    font-family: 'Roboto', sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
    cursor: pointer;
}

table tr:nth-child(even) {
    background-color: #E9E9E9;
}

table tr:hover {
    background-color: #ddd;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #FFFFFF;
    color: #333333;
}